---
layout: placeholder
aboutEvent: A virtual conference featuring work by members of the ACH community.
youtube: https://www.youtube.com/watch?v=jDDaplaOz7Q

---
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0"><span class="ach">ach</span>2023</h1>
    <p class="mb-4 pb-0">29 June - 1 July 2023, Virtual Conference</p>
   
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>About</h2>
          <p>{{ aboutEvent }}</p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>Virtual</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>Thursday to Saturday<br>29 June -- 1 July 2023</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  