---
layout: default
aboutEvent: Una conferencia virtual que presenta el trabajo de miembros de la comunidad ACH.
youtube: https://www.youtube.com/watch?v=jDDaplaOz7Q

---
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0"><span class="ach">ach</span>2023</h1>
    <p class="mb-4 pb-0">29 junio - 1 julio 2023, Conferencia Virtual</p>
    <a href="{{ youtube }}" class="glightbox play-btn mb-4"></a>
    <a href="#about" class="about-btn scrollto">Sobre</a>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>Sobre</h2>
          <p>{{ aboutEvent }}</p>
        </div>
        <div class="col-lg-3">
          <h3>Dónde</h3>
          <p>Virtual</p>
        </div>
        <div class="col-lg-3">
          <h3>Cuando</h3>
          <p>De jueves a sábado<br>29 de junio -- 1 de julio de 2023</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Calendario</h2>
          <p></p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">29 de junio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">30 de Junio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab">1 de julio</a>
          </li>
        </ul>

        <h3 class="sub-heading">Este es nuestro horario actual. Una vez finalizada la sesión, subiremos una grabación de cada sesión cuando sea posible.</h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <!-- Schedule Day 1 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
             {% set es_schedule = collections.sesiones %}
            
            {% for item in es_schedule|sort(attribute='data.time') %}
              {% if item.data.day == 1 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.url %}
                <a href="{{ item.data.url }}">enlace de grabación</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
            {% for item in es_schedule %}
              {% if item.data.day == 2 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.url %}
                <a href="{{ item.data.url }}">enlace de grabación</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
            {% for item in es_schedule %}
              {% if item.data.day == 3 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.recording %}
                <a href="{{ item.data.url }}">enlace de grabación</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 3 -->

        </div>

      </div>

    </section><!-- End Schedule Section -->

<!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Oradores principales</h2>
          <p>Aquí están algunos de nuestros oradores</p>
        </div>
        
        <div class="row">
        {% set speakers = collections.oradores %}
        {% for speaker in speakers %}
        
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{{ speaker.data.image }}" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">{{ speaker.data.name }}</a></h3>
                <p>{{ speaker.data.description }}</p>
                
              </div>
            </div>
          </div>
        {% endfor %}
          
          
        </div>
      </div>

    </section><!-- End Speakers Section -->

    <!-- ======= Supporters Section ======= -->
    <section id="partners" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Socios</h2>
        </div>
        
        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
          {% set partners = collections.partners %}
        {% for partner in partners %} 
        {# {% for name, item in partner %}
      <li>{{ name }}: {{ item }}</li>
   {% endfor %} #}
      
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="supporter-logo">
              <img src="{{ partner.data.image }}" class="rounded img-fluid" alt="{{ partner.data.name }}">
            </div>
          </div>
        {% endfor %}
          
          

        </div>

      </div>

    </section><!-- End Sponsors Section -->

    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Preguntas frecuentes </h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">
              {% for faq in es_faq.items %}
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq{{loop.index}}">{{ faq.question }} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq{{loop.index}}" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    {{ faq.answer }}
                  </p>
                </div>
              </li>
              {% endfor %}
              
            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->
